{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block nav_li %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{path('deck_index')}}">Decks</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="">SignOut</a>
</li>
{% endblock %}