{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block nav_li %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{path('user_show')}}">SignIn</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{{path('user_new')}}">SignUp</a>
</li>
{% endblock %}