{% extends 'auth_base.html.twig' %}

{% block title %}{{ parent() }}Deck{% endblock %}

{% block body %}
            <br>
            <br>
            <center>
                <div class="container">
                    {% if not decks %}
                    <div>
                    <h1>You have no deck , please create one !</h1>
                     </div>
                     </br>
                    {% endif %}
                    </br>
                    <div class="ribbon">Your Deck List</div>
                    </br>
                    <div class="row">
                    {% for deck in decks %}
                        <div class='col-sm-4'>
                            <div class="container-deck">
                                <a href="{{ path('deck_show', {'name':deck.name} ) }}"><img class="img-deck" src="../img/deck_view.png"></a>
                                    <div class="text-deck">
                                        {{ deck.name }}
                                    </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class='col-sm align-self-center'>
                            <a class="btn btn-light" href="{{path('deck_new')}}" role="button">➕ Add deck</a>
                        </div>
                    </div>
                </div>
                <br>
            {#  <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav> #}
            </center>
{% endblock %}

