{% extends 'visitor_base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<br>
<br>
<center>
    <img class="image_clignote" src="/img/logo.png">
    <br>
    <h2 style="color:rgb(255, 94, 0)"> Browse MTG Cards and Manage Decks</h2>
    <br>
    <a class="btn btn-light" href="{{path('user_show')}}" role="button">Sign Up</a>
    <a class="btn btn-light" href="{{path('user_new')}}" role="button">Sign In</a>
</center>
{% endblock %}
