{% extends 'visitor_base.html.twig' %}

{% block title %}{{parent()}}-Inscription{% endblock %}

{% block body %}
<center>
    <div class="container">
        <div class="row">
            <div class='col'>
                <img src="../img/create_account.png"></a>
            </div>
        </div>
    </div>
</center>
{% endblock %}
